extends layout

block content
    div(class="loginscreen")
        h1 Inloggen beheerdersgedeelte
        form(action="/login",method="post")
            table
                tr
                    td
                        label(for="usernameField") Gebruikersnaam:
                    td
                        input(type="text",name="username",placeholder="Typ hier uw naam",id="usernameField")
                tr
                    td
                        label(for="passwordField") Wachtwoord:
                    td
                        input(type="password",name="password",placeholder="Wachtwoord",id="passwordField")
                tr
                    td(colspan="2")
                        input(type="submit",value="Inloggen",style="float:right")
