<html>
<head>
    <title>Treinspotter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Treinspotter</h1>

        <p>De app voor mensen die graag foto's maken van treinen</p>

        <a href="/inloggen" class="btn btn-default"><span class="fa fa-user"></span> Inloggen</a>
        <a href="/registreren" class="btn btn-default"><span class="fa fa-user"></span> Registreren</a>
    </div>

</div>
</body>
</html>