doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
  body
    script.
        var socket = io('/apiNamespace');
    block content