//
   Created by Joost on 25-3-2015.
extends ../layout
block content
    h1 CRUD acties hier
    ul
        li
            a(href="crud/spots") Spots
        li
            a(href="crud/users") Users

